name: Rust CI

on:
  workflow_dispatch:
  push:
    paths:
      - 'src/**'

jobs:
  rust-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - run: |
          make rust-lint rust-test
